.navbar{
    border-bottom: 2px solid #e9ecef99;
    padding: 10px 100px;
}
.navbar-content{
    display: flex!important;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    box-sizing: border-box;
}
.navbar-nav{
    flex-direction: row;
    display: flex;
    padding: 0;
    margin: 0;
    flex:1;
    list-style: none;
}

.navbar-text-pos{
      flex: 1;
      justify-content: flex-end;
    display: flex;
}
.navbar-text-pos span{
    position: relative;
}
  
  .navbar-text{
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .usericon {
      width: 30px;
  }

  .ksblogo-bg{
    width: 100%;
    float: left;
}
.ksb-logoimg{
    width: 100%;
    float: left;
}
.ksb-logoimg img{
    width: auto;
}
.ksb-logotxt{
    /* width: 100%;*/
    float: left; 
}

.ksb-logotxt p{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    letter-spacing: 0px;
    color: #B0B1B3;
    opacity: 1;
    margin: 0.6em 0 0;
}
