.ksb-img {
  padding: 11px;
  width: 900px;
  height: 700px;
  position: absolute;
  right: 0px;
}
.icon-img {
  padding: 5px;
  width: 150px;
}
.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {
  background-color: #1563b6;
}
.box {
  margin-top: 60px;
  margin-bottom: 70px;
  margin-right: 0px;
  margin-left: 840px;
}
.box-token {
  position: absolute;
  padding: 50px 5px 5px 5px;
}
/* .box-icon {
  margin-top: 50px;
  margin-bottom: 70px;
  margin-right: 0 px;
  margin-left: 47px;
} */

.p1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  margin: 5px 0px;
}
.p2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .box {
    margin-top: 60px;
    margin-bottom: 70px;
    margin-right: 100px;
    margin-left: 400px;
    width: 100%;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  .box {
    width: 100%;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  .box {
    width: 100%;
  }
}
