.message-box {
    position: absolute;
    top: 190px;
    right: 260px;
  }
  .box1 {
    margin-top: 19px;
    margin-left: -15px;
    color: #00569d;
  }
  .box2 {
    margin-left: 161px;
    margin-bottom: 0px;
    margin-top: -23px;
    color: #00569d;
  }
  .box3 {
    margin-left: 278px;
    margin-bottom: 0px;
    margin-top: -24px;
    color: #00569d;
  }
  .card-msg {
    width: 1535px;
    height: 164px;
    margin-top: -74px;
    margin-right: -259px;
    padding-top: 37px;
    margin-left: -1px;
  }
  .card-body span {
    margin-left: 297px;
    padding-left: 214px;
    font-size:22px
  }
  
  .box-msg-class {
    margin-top: 53px;
    margin-left: 549px;
  }
  /* .box-msg-class span { size:5px } */
  .save-icon-class {
    height: 24px;
    width: 24px;
    color: #08b564;
  }
  .pointer {cursor: pointer;}
  .pointer span { font-size:16px}