<app-header></app-header>
<div class="body-container">
    <div class="message-box">

        <div class="card card-msg">
            <div class="card-body">
                <span style="color: #08b564;"><img [src]="iconSaved" [alt]="iconSavedAlt" class="save-icon-class" /> Records have been
                    successfully
                    saved</span>
            </div>
        </div>
        <!-- 
      <div class="row">      
        <div class="col-md-12 msg1">
          <span><img [src]="iconSaved" [alt]="iconSavedAlt" class="save-icon-class" />Records save successfully</span>
        </div>
      
      </div> -->
        <div class="row box-msg-class">
            <div class="col-md-12">
                <span style="color:#616161;font-size:16px">For further process our team will connect with you</span>
            </div>
            <div class="col-md-12">
                <div class=box1><a class="pointer" (click)="SaveSCIPDataPDF()"><span>Download SCIP Data</span></a></div>
                <div class=box2 ><a class="pointer" (click)="goToLogin()"><span>SCIP Login</span></a></div>
                <div class=box3><a class="pointer"><span>KSB website</span></a></div>
            </div>
        </div>
    </div>
</div>