<div class="login-container">

  <!-- <span class="form-inline">
    <select 
        class="form-control" 
        #selectedLang 
        (change)="switchLang(selectedLang.value)">
      <option *ngFor="let language of translate.getLangs()" 
        [value]="language"
        [selected]="language === translate.currentLang">
        {{ language }}
      </option>
    </select>
  </span> -->

  <form #f="ngForm" (ngSubmit)="authenticate(f)">
    <p class="p1"><b>{{'TokenText' | translate}}</b></p>
    <p class="p2">
      The token number has been sent to your email address supplier@test.com
    </p>
    <div class="form-group">
      <input type="text" placeholder="Enter token" name="tokenInput" id="tokenInput" class="text-border-class" [ngClass]="{'text-border-failed-class': isWrongInput}" ngModel
        #tokenInput="ngModel" />
    </div>
    <div class="button-container">
      <button class="button blue-button">Login</button>&nbsp;&nbsp;
      <button type="button" class="button blank-button" (click)="requestNewToken()">
        Request new token
      </button>
    </div>
    <!--p class="p3" *ngIf="!isLoggenIn && isBlankInput">
        Please enter the token number
      </p -->
      <div class="failed-div">

        <span class="p3" *ngIf="isWrongInput">
          <img [src]="iconFailed" [alt]="iconFailed" class="save-icon-class" style="height: 12px;width: 12px;"/>
          {{ message }}
        </span>
      </div>
    
    <div class="success-div">
     
      <span class="p4" *ngIf="!isWrongInput && isSent">
        <img [src]="iconSaved" [alt]="iconSavedAlt" class="save-icon-class" style="height: 23px;width: 23px;"/>
        The token has been sent to your email address successfully
      </span>
    </div>
    
  </form>
</div>