<div class="container" *ngIf="!isLoggenIn && !isGenerateTokenPage">
  <div class="row">
    <div class="col-md-8">
      <img class="ksb-img" [src]="imageSrc" [alt]="imageAlt" />
    </div>
    <div class="col-md-4 box">
      <div class="row box-icon">
        <img class="icon-img" [src]="iconSrc" [alt]="iconAlt" />
        <p>SCIP vendor platform application</p>
      </div>

      <div class="row">
        <div class="col-md-12 box-token">
          <form #f="ngForm" (ngSubmit)="authenticate(f)">
            <p class="p1"><b>Enter the token number</b></p>
            <p class="p2">
              The token number has been sent to your email address
              supplier@test.com
            </p>
            <div class="form-group" style="width: 370px">
              <input
                type="text"
                class="text-border-class"
                placeholder="Enter token number"
                name="tokenInput"
                id="tokenInput"
                ngModel
                #tokenInput="ngModel"
                [ngClass]="{ 'red-border-class': isWrongInput || isBlankInput }"
              />
            </div>
            <p>
              <button class="button button1">Login</button>&nbsp;&nbsp;
              <button
                type="button"
                class="button button2"
                (click)="requestNewToken()"
              >
                Request new token
              </button>
            </p>
            <p class="p3" *ngIf="!isLoggenIn && isBlankInput">
              Please enter the token number
            </p>
            <p class="p3" *ngIf="!isLoggenIn && isWrongInput">
              Wrong Input! Only 2 attempts remain. Please verify the token again
              or request for new token
            </p>
            <p
              class="p4"
              *ngIf="!isLoggenIn && !isBlankInput && !isWrongInput && isSent"
            >
              Requested token has been sent to your email address
              supplier@test.com
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
