/* input::placeholder {
  color: #abbbcbb5;
  font-size: 0.7em;
  padding: 25px 20px 25px 35px;
}
  .box-token {
    width: 100%;
    float: left;
    padding: 50px 5px 5px 5px;
    box-sizing: border-box;
  }
  .text-border-class {
    width: 93%;
    padding: 6px 8px;
    margin: 0px 2px;
    box-sizing: border-box;
    border: 1px solid #adb5bd;
    outline: none;
    line-height: 24px;
  }

  .red-border-class {
    width: 95%;
    padding: 6px 13px 11px 1px;
    margin: 0px 2px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid red;
    color: red;
  }

  .login-input {
    margin-top: 50px;
    margin-bottom: 70px;
    margin-right: 500px;
    margin-left: 5px;
  }

  .button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .blue-button {
    background-color: #1563b6;
  }

  .blank-button {
    background-color: #f8f9fa;
    color: #1563b6;
    border: 1px solid #9a9fa4;
    padding: 9px 17px;
    border: 3px solid #1563b6;
  }

  .p1 {
    font-size: 1.6em;
    margin: 5px 0px;
  }
  .p2 {
    color: #7D7D7D;
    font-size: 0.8em;
  }
  .p3 {
    color: #e03737;
  }
  .p4 {
    color: #62e293;
  } */

  .text-border-class{
    line-height: 32px;
    padding: 3px 8px;
    width: 90%;
    font-size: 14px;
    border: 1px solid #adb5bd;
    outline: none;
  }

  .red-border-class {
    width: 95%;
    padding: 6px 13px 11px 1px;
    margin: 0px 2px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid red;
    color: red;
  }

  .login-container{
    width: 100%;
    float: left;
    padding-top: 50px;
  }

  .button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .blue-button {
    background-color: #1563b6;
  }

  .blank-button {
    background-color: #f8f9fa;
    color: #1563b6;
    border: 1px solid #9a9fa4;
    padding: 9px 17px;
    border: 3px solid #1563b6;
  }

  .p1 {
    font-size: 1.6em;
    margin: 5px 0px;
  }
  .p2 {
    color: #7D7D7D;
    font-size: 0.8em;
  }
  .p3 {
    color: #e03737;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    background-color: #FB37370D;
    border: 1px solid #FB3737;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 21px;
  }
  .p4 {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    background-color: #59D5860D;
    border: 1px solid #59D586;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 21px;
  }
  .success-div{
    margin-top: 31px;
  }
  .failed-div{
    margin-top: 31px;
  }
  .button-container{
    margin-top: 15px;
  }
  .text-border-failed-class{
    border: 1px solid #FB3737;
  }