<nav class="navbar navbar-expand-lg navbar-light nav-bar" *ngIf="isLoggenIn && !isGenerateTokenPage">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li>
        <img class="icon-img" [src]="iconSrc" [alt]="iconAlt" />
      </li>
      <!-- <li>
        <a
          class="nav-link"
          routerLink="/purchase-order-line-item"
          routerLinkActive="active"
          >Purchase Order</a
        >
      </li> -->
    </ul>
    <span class="navbar-text"> <a type="button" (click)="logout()"><img  [src]="usericon" [alt]="userAlt" class="usericon-class"/>Welcome, John Doe</a> </span>
  </div>
</nav>
<!--nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="!isLoggenIn && !isGenerateTokenPage">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li>
        <img class="icon-img" [src]="iconSrc" [alt]="iconAlt" />
      </li>
    </ul>
  </div>
</nav-->
<!--div class="row login-box" *ngIf="!isLoggenIn && !isGenerateTokenPage">
  <div class="row">
    <div class="col-md-12">
      <p class="p1"><b>Enter the token number</b></p>
      <p class="p2">
        The token number has been sent to your email address supplier@test.com
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 login-input">
      <form #f="ngForm" (ngSubmit)="authenticate(f)">
        <p><b>Please enter the token number</b></p>
        <div class="form-group" style="width: 370px" >
          <input
            type="text"
            class="form-control text-line form-control-lg"
            placeholder="Enter token"  name="tokenInput" ngModel  #tokenInput="ngModel" [ngClass]="{'red-border-class': isWrongInput || isBlankInput}"/>
        </div>
        <p>
          <button  class="button button1">Login</button>
          <button type="button" class="button button2" (click)="requestNewToken()">Request new token</button>
        </p>
        <p class="p3" *ngIf="!isLoggenIn && isBlankInput">Please enter the token number</p>
        <p class="p3" *ngIf="!isLoggenIn && isWrongInput">Wrong Input! Only 2 attempts remain. Please verify the token again or request for new token</p>
        <p class="p4" *ngIf="!isLoggenIn && !isBlankInput && !isWrongInput && isSent">Requested token has been sent to your email address supplier@test.com</p>
      </form>
    </div>
  </div>
</div-->

<router-outlet></router-outlet>
