
.nav-bar {
  height: 98px;
  border: 2px solid #e9ecef99;
  width: 100%;
}

.p1 {
  padding: 1px 10px 2px 0px;
  margin: 0px 5px -6px 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}
.p2 {
  padding: 0px 6px 0px 3px;
  font-family: Arial, Helvetica, sans-serif;
  color: #76838f;
}
.p3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #e03737;
}
.p4 {
  font-family: Arial, Helvetica, sans-serif;
  color: #62e293;
}


.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 3px 16px 2px 2px;
  cursor: pointer;
}
.button1 {
  background-color: #343a40;
}
.button2 {
  background-color: #f8f9fa;
  color: #a49898;
  border: 1px solid #9a9fa4;
}

input::placeholder {
    color: #abbbcbb5;
    font-size: 0.700em;
    font-family: Arial, Helvetica, sans-serif;
  }
  .icon-img{
    width: 114px;
    position: absolute;
    margin: -29px 9px 2px 76px;
    height: 57px;
}
.usericon-class{
  width:30px
}
.navbar-text-pos{
  position: absolute;
    top: 29px;
    right: 50px;
}

  @media screen and (max-width: 800px) {
    .login-box {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }