
<div class="row hd-part">
  <div class="col-md-8">
    <p><b>Please input the SCIP or the statistical and CAS numbers against purchased order line item</b></p>
  </div>
  <div class="col-md-4">
    <input type=text class="form-control text-box-pos" placeholder="Search by SCIP Statistical Goods or CAS no."/>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr class="table-row">
          <th *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let el of elements" class="table-row">
              <td align="left">{{el.purchaseOrderNumber}}</td>
              <td>{{el.lineItemNumber}}</td>
              <td>{{el.scipRelevent}}</td>
              <td>{{el.scipNumber}}</td>
              <td>{{el.statisticalGoodsNumber}}</td>
              <td>{{el.CASNumber}}</td>
              <td>{{el.materialCategory}}</td>
              <td><a>+</a></td>
            </tr>
       
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <p class="button-box">
      <button  type="button" class="button button1">Submit</button>
      <button type="button" class="button button2">Cancel</button>
    </p>
  </div>
  
</div>
    