<div class="body-container" *ngIf="!isPurchaseOrderSaved">
  <div class="hd-part">
    <div class="ptext">
      <p class="p1"><b>SCIP Information</b></p>
      <p class="p2">
        Please input the SCIP or the statistical and CAS numbers against purchased
        order line item
      </p>
      <input type="text" class="text-border-class" name="scip" id="scip"
        placeholder="Search by SCIP no, Statistical goods no, CAS no" />
    </div>
    <div class="button-container">
      <button type="button" class="button pdf-btn">
        <img [src]="iconPDF" [alt]="iconPDFAlt" class="pdf-class" />&nbsp;&nbsp;<span
          class="scip-download-class">Download
          SCIP Data</span>
      </button>
    </div>
  </div>
  <div class="table-container">
    <table class="table">
      <thead class="table-th">
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let el of results;index as parentIndex" class="table-row">
          <td>{{ el.purchaseOrderNumber }}</td>
          <td>{{ el.lineItemNumber }}</td>
          <td>{{ el.scipRelavent }}</td>
          <td><span *ngIf="el.isAddShow == true">{{ el.scipNumber }}</span>
            <div class="form-group" *ngIf="el.isDeleteShow == true" >
              <input type="text" name="scipNumber{{parentIndex}}" id="scipNumber{{parentIndex}}"
                class="table-text-border-class" [(ngModel)]="el.scipNumber"  (keyup)="validateScip($event,el.scipNumber,parentIndex)" />
                <span *ngIf="el.isInvalid == true" >SCIP no should be 10 digit</span>
            </div>
          </td>
          <td>
            <span *ngIf="el.isAddShow == true">{{ el.statisticalGoodsNumber }}</span>
            <div class="form-group" *ngIf="el.isDeleteShow == true">
              <input type="text" name="statisticalGoodsNumber{{parentIndex}}" id="statisticalGoodsNumber{{parentIndex}}"
                class="table-text-border-class" [(ngModel)]="el.statisticalGoodsNumber" />
            </div>
          </td>
          <td>
            <span *ngIf="el.isAddShow == true">{{ el.casnumber }}</span>
            <div class="form-group" *ngIf="el.isDeleteShow == true">
              <input type="text" name="casnumber{{parentIndex}}" id="casnumber{{parentIndex}}"
                class="table-text-border-class" [(ngModel)]="el.casnumber" />
            </div>
          </td>
          <td>
            <span *ngIf="el.isAddShow == true">{{ el.materialCategory }}</span>
            <div class="form-group" *ngIf="el.isDeleteShow == true">
              <input type="text" name="materialCategory{{parentIndex}}" id="materialCategory{{parentIndex}}"
                class="table-text-border-class" [(ngModel)]="el.materialCategory" />
            </div>

            <!--div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" (click)="selectMaterial('','','')">
                <span *ngIf="el.isSelected == false" style="font-size:  0.875rem;">Material Category</span> <span
                  *ngIf="el.isSelected == true">{{el.selectedCat}}</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" *ngFor="let item of el.materialCategory;index as childIndex"
                  (click)="selectMaterial(item,parentIndex,elements)"><span
                    style="font-size:  0.875rem;">{{item}}</span></button>

              </div>
            </div-->
          </td>
          <td>
            <a *ngIf="el.isAddShow == true" (click)="editPurchaseorderLine(parentIndex)"><img [src]="iconPlusCircle"
                [alt]="iconPlusAlt" class="plus-class" /></a>
            <a *ngIf="el.isDeleteShow == true"><img [src]="iconDelete" [alt]="iconDeleteAlt" class="plus-class" /></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-footer">
    <div class="button-container-footer">
      <button type="button" class="button blue-button" data-toggle="modal" data-target="#myModal">Save</button>
      <button type="button" class="button white-button" (click)="resetPurchaseorderLine()">Cancel</button>
    </div>
    <div class="row">
      <div class="col-md-12 alert-class">
        <div class="alert alert-danger" role="alert" *ngIf="(responseCode !== '' && responseCode !== '200')">
          {{errorMessage}}
        </div>
      </div>
    </div>
    <div class="pagination-container">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a>
              <fa-icon [icon]="faLessThan" size="xs" class="icon-class" style="color: #adb5bd; "></fa-icon>
            </a>
          </li>
          &nbsp;&nbsp;
          <li class="page-item"><a class="page-link page-style">1</a></li>
          &nbsp;
          <li class="page-item"><a class="page-link page-style">2</a></li>
          &nbsp;
          <li class="page-item"><a class="page-link page-style">3</a></li>
          &nbsp;
          <li class="page-item"><a class="page-link page-style">4</a></li>
          &nbsp;&nbsp;
          <li class="page-item">
            <a>
              <fa-icon [icon]="faGreaterThan" size="xs" class="icon-class"></fa-icon>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">


      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-part1">
            <p><b>Are you sure you want to submit ?</b></p>
            <p>Once Submit You are not able to change it again</p>
          </div>
          <div class="col-md-12 col-part2">
            <button type="button" class="button blue-button-modal" data-dismiss="modal"
              (click)="savePurchaseorderLine()">Submit</button>
            <button type="button" class="button white-button-modal" data-dismiss="modal">Review Again</button>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        
      </div> -->

    </div>
  </div>
</div>


<div class="body-container" *ngIf="isPurchaseOrderSaved">
  <div class="message-box">

    <div class="row">
      <div class="col-md-12"><img [src]="iconSaved" [alt]="iconSavedAlt" class="save-icon-class" /></div>
      <div class="col-md-12 msg1">
        <p>Records save successfully</p>
      </div>
      <div class="col-md-12 msg2">
        <p>Your records have been successfully save. </p>
        <p class="p-3">For further process our team will connect with you</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 msg3"><p>Meanwhile, for recent news and update you can explore the KSB website.</p></div>
      <div class="col-md-12"><button type="button" class="button white-button-msg">Visit KSB website</button></div>
    </div>
  </div>

</div>