<div class="body-container"  >
  <div class="hd-part">
    <div class="ptext">
      <p class="p1"><b>{{'scipInfoText' | translate}}</b></p>
      <p class="p2">
        {{'scipInfoSubText' | translate}}
      </p>
      <input type="text" class="text-border-class" name="scip" id="scip"
        placeholder="Search by SCIP no, Statistical goods no, CAS no" [(ngModel)]="searchedKeyword" />
    </div>
    <div class="button-container">
      <button type="button" class="button pdf-btn" (click)="SavePDF()">
        <img [src]="iconPDF" [alt]="iconPDFAlt" class="pdf-class" />&nbsp;&nbsp;<span
          class="scip-download-class">{{'Download_SCIP_Data_text' | translate}}</span>
      </button>
    </div>
  </div>
  <div class="table-container">
    <table class="table" id="waypointsTable">
      <thead class="table-th">
        <tr>
          <!-- <th *ngFor="let head of headElements" scope="col">{{ head }}</th> -->
          <th>{{'Purchase_Order_col' | translate}}</th>
          <th>{{'Line_Item_col' | translate}}</th>
          <th>{{'SCIP_Relevant_col' | translate}}</th>
          <th>{{'SCIP_No_col' | translate}}</th>
          <th>{{'Statistical_Goods_No_col' | translate}}</th>
          <th>{{'CAS_No_col' | translate}}</th>
          <th>
            <div style="margin-left: -1px;">{{'Material_Category_col' | translate}}</div>
          </th>
          <th>{{'Add_row_col' | translate}}</th>
          <th>
            <div style="margin-right: 22px;width: 73px;">{{'Clear_data_col' | translate}}</div>
          </th>
        </tr>
      </thead>
      <tbody (mouseleave)="mouseLeaveTab()">
        <tr [ngClass]="{'hover':el.isDeleteShow}"
          *ngFor="let el of results |  filter:searchedKeyword | paginate : {itemsPerPage: tableSize,currentPage: page,totalItems: count};index as parentIndex; " class="table-row"
          id="item_{{parentIndex}}" (mouseover)="mouseEnterRow(parentIndex)" (mouseleave)="mouseLeaveRow(parentIndex)">
          <!-- {{ el.rowId }} -->
          <td style="width: 15%;">
            <img [src]="iconCopy" [alt]="iconCopyAlt" class="clear-icon-class size-big" *ngIf="el.isSubRow && !el.isClearData" />
            <!-- {{el.parentRowId}}---{{ el.rowId }} ---  -->
            {{ el.purchaseOrderNumber }}
          </td>
          <td style="width: 8%;">{{ el.lineItemNumber }}</td>
          <td style="width: 12%;">
            <!-- {{ el.scipRelavent }} -->
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" (click)="selectMaterial('','','')">
                <span style="font-size:  0.875rem;"
                  *ngIf="el.scipRelavent != 'Yes' && el.scipRelavent != 'No'">{{'Select_option' | translate}}</span>
                <span>{{el.scipRelavent}}</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" (click)="getSCIPRel(parentIndex,'Yes')">
                  <span style="font-size:  0.875rem;">{{'yes_option' | translate}}</span>
                </button>
                <button class="dropdown-item" type="button" (click)="getSCIPRel(parentIndex,'No')">
                  <span style="font-size:  0.875rem;">{{'no_option' | translate}}</span>
                </button>
              </div>
            </div>
          </td>
          <td style="width: 12%;" >
            <div (mouseenter)="mouseEnter(parentIndex,'scip') " (mouseleave)="mouseLeave(parentIndex,'scip')"
              style="margin-left: -21px;">
              <div *ngIf="el.isSCIPSpanShow == true">
                <span class="text-class">text</span>
                <span [ngClass]="{'span-red-border-class':el.isInvalid}">{{ el.scipNumber }}
                  <img *ngIf="el.isInvalid == true && el.scipNumber != ''" [src]="iconWarning" [alt]="iconWarningdAlt"
                    class="icon-warning-span-class" />
                </span>
              </div>
              <div class="form-group" *ngIf="el.isSCIPEditShow == true">
                <input type="text" name="scipNumber{{parentIndex}}" id="scipNumber{{parentIndex}}"
                  [ngClass]="{'text-red-border-class':el.isInvalid}" class="table-text-border-class"
                  [(ngModel)]="el.scipNumber" (keyup)="validateScip(parentIndex)" (keydown)="validateScip(parentIndex)"
                  (click)="clickevent(parentIndex)" />
                <img *ngIf="el.isInvalid == true && el.scipNumber != ''" [src]="iconWarning" [alt]="iconWarningdAlt"
                  class="icon-warning-class" />
                <a (click)="clearSCIPData(parentIndex)" style="cursor: pointer" *ngIf="el.scipNumber != ''">
                  <img [ngClass]="{'icon-cross-invalid-class':el.isInvalid, 'icon-cross-class':!el.isInvalid}"
                    [src]="iconCross" [alt]="iconCross" />
                </a>

              </div>
            </div>
            <div class="scip-warn" *ngIf="el.isInvalid == true && el.isDeleteShow == true && el.scipNumber != ''">
              <img [src]="crossiconWarning" [alt]="crossiconWarningdAlt" class="cross-warning-class" />
              <span>
                SCIP no should be 10 digit
              </span>
            </div>
            <ksb-tooltip [showTooltip]="el.isInvalid == true && el.isDeleteShow == true && el.scipNumber != ''" [tooltipText]="'SCIP no should be 10 digit'"></ksb-tooltip>
          </td>
          <td style="width: 15%;">
            <div (mouseenter)="mouseEnter(parentIndex,'stat') " (mouseleave)="mouseLeave(parentIndex,'stat')"
              style="margin-left: -21px;">
              <div *ngIf="el.isStatSpanShow == true">
                <span class="text-class">text</span>
                <span [ngClass]="{'span-red-border-class':el.isStatGoodInvalid}">{{ el.statisticalGoodsNumber }}
                  <img *ngIf="(el.isStatGoodInvalid == true && el.statisticalGoodsNumber != '') || el.isStatEmpty" [src]="iconWarning" [alt]="iconWarningdAlt"
                  class="icon-warning-span-class" />
                </span>
              </div>
              <div class="form-group" *ngIf="el.isStatEditShow == true">
                <input type="text" name="statisticalGoodsNumber{{parentIndex}}"
                  id="statisticalGoodsNumber{{parentIndex}}" class="table-text-border-class"
                  [ngClass]="{'text-red-border-class':el.isStatGoodInvalid == true && el.isDeleteShow == true && el.statisticalGoodsNumber != ''}"
                  [(ngModel)]="el.statisticalGoodsNumber" (click)="clickevent(parentIndex)" (keyup)="validateStatGood(parentIndex)" (keydown)="validateStatGood(parentIndex)"/>
                <a (click)="clearStatisticalData(parentIndex)" style="cursor: pointer"
                  *ngIf="el.statisticalGoodsNumber != ''">
                  <img class="icon-cross-class" [src]="iconCross" [alt]="iconCross" />
                </a>
              </div>
            </div>
            <!-- <div class="stat-warn" *ngIf="el.isStatGoodInvalid == true && el.isDeleteShow == true && el.statisticalGoodsNumber != ''">
              <img [src]="crossiconWarning" [alt]="crossiconWarningdAlt" class="cross-warning-class" />
              <span>
                statisticalGoodsNumber no should be 8 digit
              </span>
            </div> -->
            <ksb-tooltip [showTooltip]="!el.isStatSpanShow && el.isStatEmpty" [tooltipText]="'Please Enter Statistical Goods no.'"></ksb-tooltip>
            <!-- <div class="stat-empty-warn" *ngIf="el.isStatEmpty">
              <span>
                If CAS no. is entered then statistical goods no. needs to e provided
              </span>
            </div> -->
            <ksb-tooltip [showTooltip]="el.isStatGoodInvalid == true && el.isDeleteShow == true && el.statisticalGoodsNumber != ''" [tooltipText]="'statisticalGoodsNumber no should be 8 digit'"></ksb-tooltip>
          </td>
          <td style="width: 15%;">
            <div (mouseenter)="mouseEnter(parentIndex,'cas') " (mouseleave)="mouseLeave(parentIndex,'cas')"
              style="margin-left: -21px;">
              <div *ngIf="el.isCasSpanShow == true">
                <span class="text-class">text</span>                
                <span>{{ el.casnumber }}
                  <img *ngIf="el.isCASNumberEmpty" [src]="iconWarning" [alt]="iconWarningdAlt"
                  class="icon-warning-span-class" />
                </span>
              </div>
              <div class="form-group" *ngIf="el.isCasEditShow == true">
                <input type="text" name="casnumber{{parentIndex}}" id="casnumber{{parentIndex}}"
                  class="table-text-border-class" [(ngModel)]="el.casnumber" (click)="clickevent(parentIndex)" (keyup)="validateCASNo(parentIndex)" (keydown)="validateCASNo(parentIndex)"/>
                <a (click)="clearCasNum(parentIndex)" style="cursor: pointer" *ngIf="el.casnumber != ''">
                  <img class="icon-cross-class" [src]="iconCross" [alt]="iconCross" />
                </a>
              </div>
            </div>
            <ksb-tooltip [showTooltip]="el.isCasEditShow && el.isCASNumberEmpty" [tooltipText]="'Please enter Cas No.'"></ksb-tooltip>
            <!-- <div class="cas-empty-warn" *ngIf="el.isCASNumberEmpty">
              <span>
                If statistical goods no. is entered then CAS no. needs to e provided
              </span>
            </div> -->
          </td>
          <td style="width: 10%;">
            <div (mouseenter)="mouseEnter(parentIndex,'mat') " (mouseleave)="mouseLeave(parentIndex,'mat')"
              style="margin-left: -21px;">
              <div *ngIf="el.isMatSpanShow == true">
                <span class="text-class">text</span>
                <span>{{ el.materialCategory }}</span>
              </div>
              <div class="form-group" *ngIf="el.isMatEditShow == true">
                <input type="text" name="materialCategory{{parentIndex}}" id="materialCategory{{parentIndex}}"
                  class="table-text-border-class" style="width:99%" [(ngModel)]="el.materialCategory"
                  (click)="clickevent(parentIndex)" />
                <a (click)="clearMatCat(parentIndex)" style="cursor: pointer" *ngIf="el.materialCategory != ''">
                  <img class="icon-cross-mat-class" [src]="iconCross" [alt]="iconCross" />
                </a>
              </div>
            </div>

            <!--div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" (click)="selectMaterial('','','')">
                <span *ngIf="el.isSelected == false" style="font-size:  0.875rem;">Material Category</span> <span
                  *ngIf="el.isSelected == true">{{el.selectedCat}}</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" *ngFor="let item of el.materialCategory;index as childIndex"
                  (click)="selectMaterial(item,parentIndex,elements)"><span
                    style="font-size:  0.875rem;">{{item}}</span></button>

              </div>
            </div-->
          </td>
          <td style="width: 13%;">
            <a (click)="editPurchaseorderLine(parentIndex,el.rowId)" class="enabled-class">
              <img [src]="iconPlusCircle" [alt]="iconPlusAlt" class="plus-class" />
            </a>
            <!-- <a class="disabled-class" *ngIf="el.isSubRow && !el.isClearData">
              <img [src]="iconPlusCircle" [alt]="iconPlusAlt" class="plus-class" />
            </a> -->
          </td>
          <td style="width: 10%;">
            <a *ngIf="el.isClearData && !el.isSubRow" (click)="clearRowData(parentIndex)"><img [src]="iconClearData"
                [alt]="iconClearDatadAlt" class="clear-icon-class" /></a>
            <a *ngIf="el.isSubRow && !el.isClearData" (click)="getDeleteRowIndex(parentIndex)" data-toggle="modal" data-target="#myModalDeleteRow"><img [src]="iconDelete"
                [alt]="iconDeleteAlt"  class="clear-icon-class" /></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-footer">
    <div class="button-container-footer flex">
      <button type="button" class="button blue-button" data-toggle="modal" data-target="#myModal">{{ 'save_button' | translate}}</button>
      <button type="button" class="button white-button" data-toggle="modal" data-target="#myModalClearAll">{{'Clear_All_text' | translate}}</button>
    </div>
    <div class="row flex">
      <div class="col-md-12 alert-class">
        <div class="alert alert-danger" role="alert" *ngIf="(responseCode !== '' && responseCode !== '200')">
          {{errorMessage}}
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-right my-pagination flex">
      <pagination-controls 
        responsive="true" 
        previousLabel="" 
        nextLabel="" 
        (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
    <!-- <div class="pagination-container">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a>
              <fa-icon [icon]="faLessThan" size="xs" class="icon-class" style="color: #adb5bd; "></fa-icon>
            </a>
          </li>
          &nbsp;&nbsp;
          <li class="page-item"><a class="page-link page-style">1</a></li>
          &nbsp;
          <li class="page-item"><a class="page-link page-style">2</a></li>
          &nbsp;
          <li class="page-item"><a class="page-link page-style">3</a></li>
          &nbsp;
          <li class="page-item"><a class="page-link page-style">4</a></li>
          &nbsp;&nbsp;
          <li class="page-item">
            <a>
              <fa-icon [icon]="faGreaterThan" size="xs" class="icon-class"></fa-icon>
            </a>
          </li>
        </ul>
      </nav>
    </div> -->
  </div>
  <div class="alert alert-primary duplicate-row-alert-class" role="alert" *ngIf="isRowDuplicated">
    {{ 'PO_line_duplicate_text' | translate}}
  </div>
  <div class="alert alert-primary duplicate-row-alert-class" role="alert" *ngIf="isAllDataClearedShowAlert">
    {{ 'all_data_cleared_text' | translate}}
  </div>
  <div class="alert alert-danger danger-row-alert-class" role="alert" *ngIf="isLengthZero">
    {{'fill_data_submit_text' | translate}}
  </div>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">


      <div class="modal-body modal-body-cutom">
        <div class="row">
          <div class="col-md-12 col-part1">
            <p style="color:#1E1E1E;font-size: 25px;font-family: 'Roboto', sans-serif;"><strong>{{'pre_submit_conf_text' | translate}}</strong></p>
            <p style="color:#616161;font-size: 16px;font-family: 'Roboto', sans-serif;">{{'pre_submit_warn_text' | translate}}</p>
          </div>
          <div class="col-md-12 col-part2">
            <button type="button" class="button blue-button-modal" data-dismiss="modal"
              (click)="savePurchaseorderLine()">{{'Submit' | translate}}</button>
            <button type="button" class="button white-button-modal" data-dismiss="modal">{{'Review_Again_Text' | translate}}</button>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        
      </div> -->

    </div>
  </div>
</div>

<div class="modal" id="myModalClearAll">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">


      <div class="modal-body modal-body-cutom">
        <div class="row">
          <div class="col-md-12 col-part1">
            <p style="color:#1E1E1E;font-size: 25px;font-family: 'Roboto', sans-serif;"><Strong>{{'pre_all_data_clear_ins_text' | translate}}</Strong></p>
            <p style="color:#616161;font-size: 16px;font-family: 'Roboto', sans-serif;">{{'all_data_clear_warn_text' | translate}}</p>
          </div>
          <div class="col-md-12 col-part2">
            <button type="button" class="button blue-button-modal" data-dismiss="modal"
              (click)="ClearAllTableData()">{{'Delete_button_text' | translate}}</button>
            <button type="button" class="button white-button-modal" data-dismiss="modal">{{'Cancel_button_text' | translate}}</button>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        
      </div> -->

    </div>
  </div>
</div>


<div class="modal" id="myModalDeleteRow">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body modal-body-cutom">
        <div class="row">
          <div class="col-md-12 col-part1">
            <p style="color:#1E1E1E;font-size: 25px;font-family: 'Roboto', sans-serif;"><Strong>{{'confirm_row_delete' | translate}}</Strong></p>
            <p style="color:#616161;font-size: 16px;font-family: 'Roboto', sans-serif;">{{'row_delete_warn_text' | translate }}</p>
          </div>
          <div class="col-md-12 col-part2">
            <button type="button" class="button blue-button-modal" data-dismiss="modal"
              (click)="deleteRow()">{{'Delete_button_text' | translate}}</button>
            <button type="button" class="button white-button-modal" data-dismiss="modal">{{'Cancel_button_text' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

