.container-kbs{
    width: 100%;
    float: left;
    height: 100%;
    position: absolute;
    display: flex;
}
.left-panel{
    width: 64.5%;
    height: auto;
    position: relative;
    /* height: 100%; */
}
.ksb-bg{
    /* The image used */
  background-image: url("../../assets/images/MaskGroup2.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ksb-bg img{width: 100%;;}
.right-panel{
    width: 35%;
    float: left;
    padding: 5% 2% 2% 5%;
    box-sizing: border-box;
    position: relative;
}
.ksblogo-bg{
    width: 100%;
    float: left;
}
.ksb-logoimg{
    width: 100%;
    float: left;
}
.ksb-logoimg img{
    width: auto;
}
.ksb-logotxt{
    /* width: 100%;*/
    float: left; 
}
.ksb-logotxt p{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    letter-spacing: 0px;
    color: #B0B1B3;
    opacity: 1;
    margin: 0.8em 0;
}
.btn-secondary {
    color: black;
    background-color: white;
    border-color: white;
  }